header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    position: relative;

    img {
        max-width: 8%;
        height: auto;
    }

    nav  {
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            position: absolute;
            right: 0;
            top: 0;
            padding: 40px 20px;
        }
        li {
            padding-left: 15px;
            font-size: 20px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: black;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            cursor: pointer;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            position: relative;
        }
        a:hover {
            color: #4C3BCF;
        }
        a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            background-color: #4C3BCF;
            transition: 1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
        }
        a:hover::after {
            width: 100%;
            height: 2px;
        }
    } 
}
